*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 14, 14);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li, a{
    color:white
}